.nav-container {
  background-color: #FFDE00;
  color: #000000; 
}

h1 {
  margin-top: 0;
  padding-top: 5vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.pokeball {
    height: 8vh;
    width: 9vh;
}

.pokedex {
  height: 8vh;
  width: 8vh;
}

img, button {
  cursor: pointer;
}